{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Melodify</title>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet"> <!-- Ejemplo con Pacifico -->
    <link rel="stylesheet"  href="{% static 'inicio_sesion/GlobalStyles.css' %}">
    <link rel="stylesheet"  href="{% static 'inicio_sesion/ComponentStyles.css' %}">

</head>
<body>
    <div class="logo-container">
        <img src="{% static 'inicio_sesion/logo.png' %}" alt="Melodify Logo" class="logo-image">
        <span class="logo-text">Melodify</span>
    </div>
    <a href="{% url 'login' %}" class="btnRect">Iniciar Sesión</a>
    <a href="#" class="btnRect">Registrarse</a>
</body>
</html>