{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Melodify</title>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet"  href="{% static 'home/homeStyle.css' %}">
</head>
<body>

<!-- Encabezado superior -->
<div id="header">
    <div class="user-info" id="user-trigger">
        <div class="user-icon">U</div>
        <span id="username">Usuario</span>

        <!-- Menú desplegable -->
        <div id="user-menu">
            <a href="#" id="menu-perfil">Perfil</a>
            <a href="#" id="menu-logout">Cerrar sesión</a>
        </div>
    </div>
</div>

<!-- menu lateral-->
<div id="menuLateral">

    <div class="logo" id="toggle-menu">
        <img src="{% static 'home/logo.png' %}" alt="Melodify Logo" class="logo-image">
        <span class="logo-text">Melodify</span>
    </div>

    <div class="menu-item" data-view="home">Home</div>
    <div class="menu-item" data-view="gestion">Gestión</div>
    <div class="menu-item" data-view="playlist">PlayList</div>
    <div class="menu-item" data-view="perfil">Perfil</div>
</div>

<!-- Contenido principal -->
<div id="main-content">
    <button id="menu-toggle-btn">☰</button>
    <div id="content">
        <!-- aqui agrega el contenido de tu pantalla -->
        <h2>HOME Bienvenido a Melodify</h2><p>Selecciona una opción del menú para comenzar.</p>

    </div>
</div>


<script src="{% static 'home/homeScript.js' %}"></script>

</body>
</html>
